@import "src/constants";

body {
  padding: 0;
  margin: 0;
}

.pageWrapper {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .appContainer {
    background-color: #000;
    width: 100%;
    height: calc(100vh - #{$navigationBarHeight});
    overflow: auto;

    @media (max-width: 600px) {
      height: calc(100vh - #{$navigationBarHeightMobile});

    }
  }

}