@import "src/constants";

body {
  padding: 0;
  margin: 0;
}

.pageWrapper {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 1px;

  .appContainer {
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    //height: calc(100vh - #{$navigationBarHeight});
    overflow: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


    //@media (max-width: 600px) {
    //  height: calc(100vh - #{$navigationBarHeightMobile});
    //
    //}
  }

}
